<div class="detail-component-parent">
    <!-- <button [routerLink]="['/home']" class="btn-basic mb-3">
        <i class="pi pi-arrow-left" style="font-size: 1rem"></i>
        Go back
    </button> -->
    <p-button [routerLink]="['/home']" severity="secondary" [rounded]="true" label="Go back" />
<div class="flex-it">
    <div class="title">
        <h2>{{dataService.selectedPost.title}}</h2>
        <div class="post-actions">            
            <p-button 
            [routerLink]="['/update', dataService.selectedPost.id]"
                type="button" 
                label="Edit" 
                icon="pi pi-pencil"
                severity="primary" />
            <p-button 
                type="button" 
                icon="pi pi-trash"
                (onClick)="deleteIt()" 
                label="Delete" 
                severity="danger" />
        </div>
    </div>
    <div class="post-meta">
        <p>posted by: {{dataService.selectedPost.name}}</p>
    </div>
    <div class="post-body">
        <p>{{dataService.selectedPost.body}}</p>
    </div>
</div>
<div class="comments">
    <h4 class="comment-title">Comments :</h4>
    @for(comment of comments; track comment){
        <div class="comment">
            <div class="comment-meta">
                <p>Comment: {{comment.name}}</p>
                <p>{{comment.email}}</p>
            </div>
            <div class="comment-body">
                <p>{{comment.body}}</p>
            </div>
        </div>
    }
</div>
<p-toast />