<div class="parent">
    <div class="div1"> 
        <input 
        type="text" 
        pInputText
        placeholder="Post Title" 
        [(ngModel)]="postData.title" />
    </div>
    <div class="div2">
        <textarea  
        [(ngModel)]="postData.body"
        placeholder="Post Content..."
        pInputTextarea ></textarea>
    </div>
    <div class="div3">
        <div>
            <p-button 
                type="button" 
                [label]="btnLabel"  
                (click)="publish()"
                pRipple
                [disabled]="!formValid()"
                severity="danger" />
        </div>
    </div>
</div>
<p-toast />